---
layout: default
title: Bill Turner's Weblog
---
{% assign post_counter = 1 %}
{% for post in paginator.posts %}

  {% include index_post.html %}

  {% if paginator.page == 1 %}
    {% if post_counter == 1 %}
      <div class="post-separator">~</div>
      <article class="post">
        <h3>Inspiration from around the web:</h3>
        {% pinboard %}
        <p>
          More #inspiration links on <a href="https://pinboard.in/u:billturner/t:inspiration">pinboard</a>.
        </p>
      </article>
    {% endif %}
  {% endif %}
  {% unless forloop.last %}
    <div class="post-separator">~</div>
  {% endunless %}
  {% capture post_counter %}{{ post_counter | plus: 1 }}{% endcapture %}
{% endfor %}

<div class="pagination">
  <div class="next-page">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">&laquo; Older Posts</a>
    {% endif %}
  </div>
  <div class="previous-page">
    {% if paginator.previous_page %}
      <a href="{% if paginator.previous_page == 1 %}/{% else %}/page{{ paginator.previous_page }}/{% endif %}">Newer Posts &raquo;</a>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  {% include disqus.html %}
</script>
