<meta name="author" content="Bill Turner" />
<meta name="robots" content="index, follow" />
<meta name="description" content="The weblog of Pittsburgh-based Ruby on Rails developer Bill Turner" />
<meta name="verify-v1" content="RSMb2KYbcQeGf3TqptQMIElrtpzyvqWMTzEOroLxf5c" />
<meta name="google-site-verification" content="wa6-nvPgRbRP7RQOSXPC4bXvDyNMT4mrlJ6WuLfaHAk" />
<meta name="msvalidate.01" content="ADC913E4D92B782D554434171B19D686" />
<meta name="y_key" content="cbc4cef39e9a1b5b=" />
<link href="http://brilliantcorners.org/rss" rel="alternate" title="Brilliant Corners RSS feed" type="application/rss+xml" />
<link href="http://brilliantcorners.org/" rel="home" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{% stylesheet application %}
{% javascript vendor/modernizr %}
