<meta name="author" content="Bill Turner" />
<meta name="robots" content="index, follow" />
<meta name="description" content="The weblog of Pittsburgh-based Ruby on Rails developer Bill Turner" />
<meta name="google-site-verification" content="5N6bAnSPBEeEaSu7YC7QbhQ5XRI4wiju9oXfQ4ADTAA" />
<meta name="msvalidate.01" content="ADC913E4D92B782D554434171B19D686" />
<link rel="canonical" href="{{ site.url}}{{ page.url | replace: 'index.html', '' }}" />
<link href="http://kindofblue.com/rss.xml" rel="alternate" title="Kind of Blue weblog RSS feed" type="application/rss+xml" />
<link href="http://kindofblue.com/" rel="home" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{% stylesheet application %}
{% javascript vendor/modernizr %}
