//= require normalize
//= require fancybox

@import "bootstrap";

a {color:#009;text-decoration:underline;}

.content {
  border: 1px solid red;
  float: none;
  @include center-block;
}
header {
  text-align: left;
}

nav ul {
  @include center-block;
}

.tab-pane {
  padding: 10px;
}

article {
  margin: 20px 0;

  h2 a {
    text-decoration: none;
  }
  h3 a {
    text-decoration: none;
  }

  blockquote {
    border: 0;
    font-style: italic;
    font-size: 97%;
    font-family: $font-family-serif;
  }
}

.post {
  img {
    text-align: center;
    padding: 0 5px;
    margin: 5px auto;
  }
  .meta {
    padding: 0 0 5px 0; color: #696969;

    a {
      color: #696969; text-decoration: none;
      &:hover { color: #333; text-decoration: underline; }
    }
  }

  .update-available {
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px 15px;

    h3 {
      color: green;
      margin-top: 5px;
      padding-top: 0;
    }
  }
}

@mixin icon-link {
  padding: 1px 1px 1px 21px;
  text-align: left;
  background-position: center left;
  background-repeat: no-repeat;
}
a.icon-link {
  @include icon-link;
}

a#feed-link { background-image: url(asset_path("feedicon16.png")); }
a#mlkshk-link { background-image: url(asset_path("mlkshk-icon.png")); }
a#flickr-link { background-image: url(asset_path("flickr-icon.png")); }
a#pinboard-link { background-image: url(asset_path("pinboard-icon.gif")); }
a#tumblr-link { background-image: url(asset_path("tumblr-icon.png")); }
a#github-link { background-image: url(asset_path("github-icon.png")); }
a#twitter-link { background-image: url(asset_path("twitter-icon.png")); }
a#linkedin-link { background-image: url(asset_path("linkedin-icon.png")); }
a#aim-link { background-image: url(asset_path("aim-icon.png")); }
a#gmail-link { background-image: url(asset_path("gmail-icon.png")); }
a#skype-link { background-image: url(asset_path("skype-icon.png")); }

.pagination { width: 99%; margin: 0 0 20px 0; }
.pagination .next-page { float: left; padding-left: 10px; }
.pagination .previous-page { float: right; padding-right: 10px; }

ul.links { margin-bottom: 20px; padding: 0; list-style: none; }
ul.links li { margin: 0; padding: 0; display: inline; }
ul.links li:after { content: ' / '; }
ul.links li.first { font-weight: bold; }
ul.links li.last:after, ul.links li.first:after { content: '  '; }

div.post-separator {
  text-align: center;
  margin: 10px 0;
  font-size: 300%;
}
.cgraphics {
  @include center-block;
  text-align: center;

  img {
    margin: 10px 0;
  }
}
