//= require normalize
//= require fancybox

@import "bourbon";
@import "bitters/bitters";
@import "neat";

a {color:#009;text-decoration:underline;}
#container {
  @include outer-container;
}

header {
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  padding: 5px 0;
  h1 {
    margin: 0;
    padding: 0;
    a { text-decoration: none; color: #333; }
  }
}

nav {
  @include span-columns(8);
  @include shift(2);
  ul {
    text-align: center;
    font-size: $base-font-size * 1.5;
    li {
      display: inline-block;
      a {
        text-decoration: none;
      }
    }
  }
  li:nth-child(even) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#content {
  @include span-columns(8);
  @include shift(2);

  text-align: left;

  article { margin: 20px; }

  .post {
    font-family: $helvetica;
    ul {
      li p { padding: 0; margin: 0; }
    }
    blockquote {
      border: none;
      font-style: italic;
      padding: 10px;
      margin: 0 0 0 18px;
      p {
        font-family: $georgia;
        padding: 0;
        margin: 0;
      }
      p:nth-child(even) {
        padding-top: 20px;
      }
    }
    img {
      text-align: center;
      margin: 5px auto;
    }
    .meta {
      padding: 0 0 5px 0; color: #696969;

      a {
        color: #696969; text-decoration: none;
        &:hover { color: #333; text-decoration: underline; }
      }
    }

    .right-side {
      float: right;
      margin: 5px 0 5px 10px;
    }
    .left-side {
      float: left;
      margin: 5px 10px 5px 0;
    }

    .update-available {
      border: 2px solid green;
      border-radius: 10px;
      padding: 5px 15px;

      h3 {
        color: green;
        margin-top: 5px;
        padding-top: 0;
      }
    }
  }
}

@mixin icon-link {
  padding: 1px 1px 1px 21px;
  text-align: left;
  background-position: center left;
  background-repeat: no-repeat;
}
a.icon-link {
  @include icon-link;
}

a#feed-link { background-image: url(asset_path("feedicon16.png")); }
a#mlkshk-link { background-image: url(asset_path("mlkshk-icon.png")); }
a#flickr-link { background-image: url(asset_path("flickr-icon.png")); }
a#pinboard-link { background-image: url(asset_path("pinboard-icon.gif")); }
a#tumblr-link { background-image: url(asset_path("tumblr-icon.png")); }
a#github-link { background-image: url(asset_path("github-icon.png")); }
a#twitter-link { background-image: url(asset_path("twitter-icon.png")); }
a#linkedin-link { background-image: url(asset_path("linkedin-icon.png")); }
a#aim-link { background-image: url(asset_path("aim-icon.png")); }
a#gmail-link { background-image: url(asset_path("gmail-icon.png")); }
a#skype-link { background-image: url(asset_path("skype-icon.png")); }

.pagination { width: 99%; margin: 0 0 20px 0; }
.pagination .next-page { float: left; padding-left: 10px; }
.pagination .previous-page { float: right; padding-right: 10px; }

ul.links { margin-bottom: 20px; padding: 0; list-style: none; }
ul.links li { margin: 0; padding: 0; display: inline; }
ul.links li:after { content: ' / '; }
ul.links li.first { font-weight: bold; }
ul.links li.last:after, ul.links li.first:after { content: '  '; }

ul.archive {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 10px;

    span.archive-detail {
      font-size: 1.3em;
    }
  }
}
div.post-separator {
  font-size: $base-font-size * 3;
  text-align: center;
  margin: 10px 0;
}
