<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include head.html %}
    {% include google_analytics.html %}
  </head>
  <body>
    <div class="container">

      <header class="span-21 last" id="header">
        <h1><a href="{{ site.url }}" rel="home bookmark">{{ site.title }}</a></h1>
      </header>

      <div class="span-16" id="content">
        {{ content }}
      </div>

      <div class="span-5 last" id="sidebar">
        <div class="sidebarbox"> 
          <h4 id="about-header">About</h4> 
          <p>This is the weblog of Bill Turner, a web application developer in Pittsburgh, PA. Here I write about Ruby and books and art and other things.</p> 
        </div> 
        <div class="sidebarbox"> 
          <h4 id="pages-header">Pages</h4> 
          <ul id="pages"> 
            <li> 
              <a rel="bookmark" title="About" href="{{ site.url }}/about.html">About</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="Links" href="{{ site.url }}/links.html">Links</a> 
            </li>
            <li> 
              <a rel="bookmark" title="All archived posts at Brilliant Corners" href="{{ site.url }}/archive.html" id="archives">Archives</a> 
            </li>
          </ul>
        </div>
        <div class="sidebarbox"> 
          <h4 id="subscribe-header">Subscribe</h4> 
          <ul>
            <li> 
              <a title="The RSS feed for new posts at Brilliant Corners" href="{{ site.url }}/rss" class="icon-link" id="feed-link">RSS</a> 
            </li> 
          </ul> 
        </div> 
        <div class="sidebarbox"> 
          <h4 id="me-elsewhere-header">Me Elsewhere</h4> 
          <ul>
            <li> 
              <a rel="bookmark" title="My photos at Flickr" href="http://flickr.com/billturner" class="icon-link" id="flickr-link">Flickr</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="My inspiration weblog on Tumblr" href="http://billturner.tumblr.com/" class="icon-link" id="tumblr-link">Tumblr</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="My mini-posts at Twitter" href="http://twitter.com/billturner" class="icon-link" id="twitter-link">Twitter</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="My open sourced code on GitHub" href="http://github.com/billturner" class="icon-link" id="github-link">GitHub</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="My profile at LinkedIn" href="http://linkedin.com/in/billturner" class="icon-link" id="linkedin-link">LinkedIn</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="My collected links at pinboard.in" href="http://pinboard.in/u:billturner" class="icon-link" id="pinboard-link">Pinboard</a> 
            </li> 
          </ul> 
        </div> 
        <div class="sidebarbox"> 
          <h4 id="contact-me-header">Contact Me</h4> 
          <ul>
            <li> 
              <a rel="bookmark" title="Send me an email. I'd love to hear from you." href="mailto:billturner@gmail.com" class="icon-link" id="gmail-link">billturner@gmail.com</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="Contact me via Skype" href="skype:bill.turner?chat" class="icon-link" id="skype-link">bill.turner</a> 
            </li> 
            <li> 
              <a rel="bookmark" title="Contact me via AOL IM" href="aim:goim?screenname=illturner" class="icon-link" id="aim-link">illturner</a> 
            </li> 
          </ul> 
        </div> 
      </div>

      <footer class="span-21 last" id="footer">
        All content copyright &copy; {{ 'now' | date: "%Y" }} Bill Turner, unless otherwise specified. 
        Powered by <a href="http://github.com/mojombo/jekyll" title="The Jekyll (static site generator) code repository" rel="external">Jekyll</a>.
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
        $(document).ready(function() {
          $("a.icon-link").click( function(e) {
            _gaq.push(['_trackEvent', 'External Links', 'Click', $(this).html()]);
          });
          $("a", "ul.friend-links").click( function(e) {
            _gaq.push(['_trackEvent', 'Friend Links', 'Click', $(this).html()]);
          });
        });
      //]]>
    </script>

    {% include disqus.html %}

  </body>
</html>

