<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Bill Turner" />
   <meta name="robots" content="index, follow" />
   <meta name="description" content="Bill Turner's weblog" />
   <meta name="keywords" content="Bill Turner, billturner, bluemonk creative, Pittsburgh, PA, Pgh, Ruby, Rails, Sinatra, Merb, MySQL, PostreSQL, Ruby on Rails, DataMapper, HAML, CSS, HTML5" />
   <meta name="verify-v1" content="RSMb2KYbcQeGf3TqptQMIElrtpzyvqWMTzEOroLxf5c" />
   <meta name="y_key" content="cbc4cef39e9a1b5b=" />
 </head>
</head>
<body>
  {{ content }}
</body>
</html>
