<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    {% include head.html %}
  </head>
  <body>
    <div id="container">
      <header>
        <h1><a href="{{ site.url }}" rel="home bookmark">{{ site.title }}</a></h1>
      </header>
      <nav>
        <ul>
          <li>
            <a rel="bookmark" title="About" href="/about.html">About</a>
          </li>
          <li>
            <a rel="bookmark" title="All archived posts at Kind of Blue" href="/archive.html" id="archives">Archives</a>
          </li>
          <li>
            <a rel="bookmark" title="Links" href="/links.html">Links</a>
          </li>
        </ul>
      </nav>

      <div id="content">
        {{ content }}
      </div>

    </div>
    {% javascript application %}
    {% include google_analytics.html %}
    <script type="text/javascript">
      {% asset actions.js %}
    </script>
  </body>
</html>
