---
layout: page
title: All
---
<ul class="archive">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% capture clean_tag %}{{ tag | downcase | replace: ' ', '-' }}{% endcapture %}
      {% capture clean_page_tag %}{{ page.tag | downcase | replace: ' ', '-' }}{% endcapture %}
      {% if clean_page_tag == clean_tag %}
        <li>
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | escape }}" rel="bookmark">{{ post.title }}</a> &mdash; {{ post.date | date: "%Y-%m-%d" }}
          {% if post.description.size > 0 %}
            <blockquote>
              {{ post.description }}
            </blockquote>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
